@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nunito+Sans&family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Fira Sans", Arial, sans-serif;
  text-rendering: optimizeSpeed;
  @apply w-full min-h-screen overflow-x-hidden bg-blackground text-primary;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-gray-400;
}
